.about {
  padding: 3% 0;
  background: linear-gradient( rgba(225, 225, 225, 0.94), rgba(225, 225, 225, 0.94));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  height: 100vh;
}

.container_about {
  padding-right: 15px;
  padding-left: 15px;
  margin: 60px auto;
}

.about_header h1 {
  font-family: Verdana, "Slabo", Helvetica, serif;
  font-style: italic;
  font-size: 4rem;
  text-align: center;
  padding: 10px;
}

.description {
  display: flex;
  justify-content: center;
}

.paragraph {
  width: 66.66666667%;
  font-size: 1.5rem;
  font-family: Comic Sans MS, Verdana, Arial, Tahoma, Serif;;
  line-height: 2em;
  max-width: 35%;
  padding-top: 30px;
}



