.about {
  padding: 2% 0;
  background: linear-gradient( rgba(225, 225, 225, 0.94), rgba(225, 225, 225, 0.94));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: row;
}
.img {
  position: relative;
  flex: 0 0 150px;
  width: 150px;
  height: 150px;
  margin: 34px;
  border-radius: 100%;
  overflow: hidden;
}

.container_about {
  padding-right: 15px;
  padding-left: 15px;
  margin: 34px auto;
}

.about_header h1 {
  font-family: Verdana, "Slabo", Helvetica, serif;
  font-style: italic;
  font-weight: bold;
  font-size: 2.6rem;
  text-align: left;
  padding: 10px;
}

.description {
    /* display: flex;
    justify-content: center; */
}

.paragraph {
  font-size: 1.25rem;
  font-family: Comic Sans MS, Verdana, Arial, Tahoma, Serif;;
  line-height: 1.55em;
  padding: 16px 120px 0 0; 
}
.tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.techRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 20px 60px;
}

.techHeader {
  font-size: 2.2rem;
  padding-bottom: 12px;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .about_header h1 {
    font-size: 1.8rem;
  }

  .img {
    flex-basis: 120px;
    width: 120px;
    height: 120px;
    margin: 32px auto 0;
  }

  .container_about {
    margin: 16px 0;
  }

  .paragraph {
    font-size: 1.05rem;
    width: 100%;
    line-height: 1.55em;
    padding: 20px;
  } 
}

