.about {
  padding: 3% 0;
  background: linear-gradient( rgba(225, 225, 225, 0.94), rgba(225, 225, 225, 0.94));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: row;
}
.img {
  position: relative;
  flex: 0 0 220px;
  width: 220px;
  height: 220px;
  margin: 50px;
  border-radius: 100%;
  overflow: hidden;
}

.container_about {
  padding-right: 15px;
  padding-left: 15px;
  margin: 60px auto;
}

.about_header h1 {
  font-family: Verdana, "Slabo", Helvetica, serif;
  font-style: italic;
  font-weight: bold;
  font-size: 4rem;
  text-align: left;
  padding: 10px;
}

.description {
    /* display: flex;
    justify-content: center; */
}

.paragraph {
  font-size: 2rem;
  font-family: Comic Sans MS, Verdana, Arial, Tahoma, Serif;;
  line-height: 2em;
  padding: 30px 150px 0 0; 
}
.tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.techRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 30px 60px;
}

.techHeader {
  font-size: 3rem;
  padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .about_header h1 {
    font-size: 2rem;
  }

  .img {
    flex-basis: 160px;
    width: 160px;
    height: 160px;
    margin: 50px auto 0;
  }

  .container_about {
    margin: 20px 0;
  }

  .paragraph {
    font-size: 1.3rem;
    width: 100%;
    line-height: 1.7em;
    padding: 20px;
  } 
}

