.container {
  background-color: #59585d;
  padding: 42px 36px;
  color: white;
  min-height: 100vh;
}

.title {
  text-align: center;
  font-size: 2.4rem;
}

.card {
  background-color: white;
  color: black;
  border: 1px solid #fff;
  margin: 18px auto;
  border-radius: 8px;
  padding: 18px;
  max-width: 980px;
}

.header{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.date {
  font-size: 0.95rem;
  text-align: right;
}

.lists {
  list-style-position: outside;
  font-family: Helvetica;
  font-size: 1rem;
  line-height: 1.5;
  margin: 10px 0;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 34px 16px;
  }

  .title {
    font-size: 2rem;
  }

  .card {
    margin: 16px 0;
    padding: 16px;
  }

  .card h1 {
    font-size: 1.6rem;
  }

  .header {
    flex-direction: column;
    gap: 4px;
  }

  .header h3 {
    font-size: 1.2rem;
  }

  .date {
    text-align: left;
    font-size: 0.9rem;
  }

  .lists {
    font-size: 0.95rem;
    padding-left: 18px;
  }
}
