.footer {
  background-color: rgb(255, 255, 255);
  padding: 20px 0 0 0;
  font-family: "Roboto", Helvetica, serif;
  position: sticky;
  bottom: 0;
  max-height: 82px;
}

.container_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.flex_footer {
  display: flex;
}

.flex_footer > div {
  margin: 0px 30px;
  width: 50px
}

@media only screen and (max-width: 600px) {
  .footer {
    padding: 20px 0;
    max-height: 83px;
  }

}