.footer {
  background-color: rgb(255, 255, 255);
  padding: 12px 0;
  font-family: "Roboto", Helvetica, serif;
  bottom: 0;
}

.container_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex_footer {
  display: flex;
}

.flex_footer > div {
  margin: 0px 18px;
  width: 34px;
  height: 34px;
}

.flex_footer img {
  width: 34px;
  height: 34px;
}

@media only screen and (max-width: 600px) {
  .footer {
    padding: 10px 0;
  }

}
