.navigation {
  width: 100%;
  padding: 10px 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.783), rgba(20, 20, 20, 0.228));
  height: 10vh;
}

.logo{
  padding-left: 30px;
}
.logo img {
  max-width: 90px;
}
.primary_nav {
  padding-right: 30px;
}
.primary_nav li {
  display: inline-block;
  margin: 0px 20px;
  color: white;
  font-size: 13pt;
}

.primary_nav li > * {
  color: white;
  padding-bottom: 5px;
  -webkit-transition: border 50ms linear;
  -moz-transition: border 50ms linear;
  -o-transition: border 50ms linear;
  -ms-transition: border 50ms linear;
  transition: border 50ms linear;
}
.primary_nav a:hover {
  text-decoration: none;
  color: white;
  border-bottom: 2px solid #f5f5f5;
}

.row {
    display: flex;
    justify-content: space-between;
}