.navigation {
  width: 100%;
  padding: 2px 0;
  background: #58555A;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.primary_nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 34px;
  padding-left: 24px;
}

.primary_nav ul {
  margin: 0;
  padding: 0;
}

.MobileNavigation {
  display: none;
}

@media (max-width: 900px) {
  .Navigation {
    display: none;
  }

  .MobileNavigation {
    min-height: 34px; 
    display: flex;
    align-items: center; 
    width: 100%;
  }

  .MobileNavigation > div{
    position: absolute;
    left: 24px;
    cursor: pointer;
  }

  .primary_nav nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 38px;
    left: 0;
    width: 100%;
    background: rgb(114, 111, 107);
  }
  
  .primary_nav nav ul li {
    cursor: pointer;
    padding: 10px;
  }

}

.primary_nav li {
  display: inline-block;
  margin: 0px 14px;
  color: white;
  font-size: 11pt;
  cursor: pointer;
}

.primary_nav li > * {
  color: white;
  padding-bottom: 5px;
  -webkit-transition: border 50ms linear;
  -moz-transition: border 50ms linear;
  -o-transition: border 50ms linear;
  -ms-transition: border 50ms linear;
  transition: border 50ms linear;
}

.primary_nav a:hover {
  text-decoration: none;
  color: white;
  border-bottom: 2px solid #f5f5f5;
}
