.bottom_layer{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 100;
}

.top_layer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(250, 247, 247);
  padding: 50px;
  z-index: 100;
  width: 70vw;
  height: 80vh;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 10px 10px black;
  display: flex;
  line-height: 30px;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.close_button{
  position:absolute;
  top:10px;
  right: 10px;
  cursor: pointer;
}

.player {
  height: 100%;
  width: 100%;
  /* min-height: 225px; */
}