.summary {
  background: linear-gradient(rgba(12, 4, 4, 0.94),
      rgba(5, 1, 1, 0.089)),
    url(../components/images/coding.jpeg);
  background-attachment: fixed;
  background-attachment: center center;
  color: white;
  padding: 60px 30px;
}

.row {
  padding: 50px 6%;
  width: 100%;
  display: flex;
}

.summary h3 {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1.5rem;
}
.summary p {
  font-family: "Roboto", Helvetica, serif;
  line-height: 1.5em;  
}

.card_summary {
  padding: 20px;
  min-width: 50%;
  display: flex; 
  flex-direction: row;
}

.image_summary {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 100px;
  width: 400px;
  top: 10px;
}

.content_summary {
  padding: 10px;
  padding-right: 80px
}

  @media only screen and (max-width: 800px) {
    .card_summary, .row{
      flex-direction: column;
    }

  } 